<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mybatis.mapper.BookMapper">
    <resultMap id="BaseResultMap" type="com.ssm.mybatis.vo.Book">
            <id property="bid" column="bid" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        bid,title,author,
        price
    </sql>
    <!-- 定义一个增加的sql语句-->
    <insert id="doCreate" parameterType="com.ssm.mybatis.vo.Book"
            keyProperty="bid" keyColumn="bid" useGeneratedKeys="true">
        insert into book(title, author, price) values (#{title}, #{author}, #{price});
    </insert>

    <!-- 数据库不支持返回自增ID的情况 -->
    <insert id="doCreateAdapterOracle" parameterType="com.ssm.mybatis.vo.Book">
        insert into book(title, author, price) values (#{title}, #{author}, #{price});
        <selectKey keyProperty="bid" keyColumn="bid" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>
</mapper>
