<!DOCTYPE html>
<!-- 引入thymeleaf的命名空间 -->
<html lang="en"
      xmlsns:th="http://www.thymeleaf.org"
      xmlns:xmlsns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script type="text/javascript" src="/js/message_index.js"></script>
    <title>Thymeleaf模板渲染</title>
</head>
<body>
<!-- 缩放50% -->
<div><img class="responsive-image" alt="png" src="/images/IMG_0669.png"></div>
<div class="message">沐言科技: www.yootk.com</div>
</body>
</html>